<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asus.jack_tsai.jackmoney">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".notused.TabHostActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeMoneyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoneyAddActivity"
            android:label="@string/title_activity_money_add"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeMoneyActivity" />
        </activity>

        <provider
            android:name=".MoneyProvider"
            android:authorities="com.asus.jack_tsai.jackmoney.provider" />

        <service
            android:name=".BackupService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".DataChangeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- 使用Action名稱設定接收的廣播事件 -->
                <action android:name=
                    "com.asus.jack_tsai.jackmoney.Broadcast.DataChange" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
